/** CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** theming */
:root {
  --font-color: #07324F;
  --font-color-title: #1CBDB4;
  --font-color-secondary: #8AA5BD;
  --bg-color: #fff;
  --img-filter: 1;
}

[data-theme="dark"] {
  --font-color: #8AA5BD;
  --bg-color: #28282B;
  --img-filter: 0;
}

/** my styles */
body {
  background: var(--bg-color);
}

.container {
  padding: 10%;
  position: relative;
}

.hero-img {
  height: 15rem;
  width: 15rem;
  max-height: 240px;
  max-width: 240px;
  border-radius: 5%;
  flex-shrink: 0;
  background: var(--font-color-secondary);
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  color: var(--font-color-title);
  font-family: 'Yellowtail', cursive;
  margin-left: -5px;
  letter-spacing: 0.3rem;
  word-spacing: 0.25rem;
  text-align: left;
  margin-top: 10%;
}

.role {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--font-color-secondary);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2rem;
  word-spacing: 0.25rem;
  margin-top: 12px;
}

.desc {
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 10%;
  margin-top: 12%;
  line-height: 1.75rem;
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 48px;
  gap: 24px;
}

.social-links>li {
  text-align: center;
}

.social-links>li>a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color-title);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4rem;
  overflow-wrap: anywhere;
}

.footer-scribble {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.footer-scribble-img {
  height: 60px;
  width: auto;
  filter: invert(var(--img-filter));
}

@media only screen and (min-width: 375px) {
  .title {
    font-size: 2.25rem;
  }

  .role {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 5% 8%;
  }

  .title {
    margin-top: 0;
  }

  .hero-img {
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .desc {
    margin-top: 6%;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 4rem;
    word-spacing: 0.75rem;
    margin-left: -10px;
  }

  .role {
    font-size: 1.25rem;
    word-spacing: 0.5rem;
  }

  .desc {
    margin-top: 5%;
    font-size: 1.25rem;
  }

  .social-links {
    flex-direction: row;
    gap: unset;
    margin-top: 6%;
  }

  .footer-scribble {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-img {
    max-height: 300px;
    max-width: 300px;
  }

  html {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 2560px) {
  .hero-img {
    max-height: 480px;
    max-width: 480px;
  }

  html {
    font-size: 2rem;
  }
}